<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	

	<h3><a href="{{url_for('signup')}}">Add user</a></h3>
	<table border="3">
		<thead>
			<tr>
				<th>id</th>
				<th>firstname</th>
				<th>lastname</th>
				<th>username</th>
				<th>email</th>
				<th>password</th>
				<th>confirmpassword</th>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<td>{{result.id}}</td>
					<td>{{result.firstname}}</td>
					<td>{{result.lastname}}</td>
					<td>{{result.username}}</td>
					<td>{{result.email}}</td>
					<td>{{result.password}}</td>
					<td>{{result.confirmpassword}}</td>
				</tr>
			
		</tbody>
	</table>
</body>
</html>